/* scrollbar.css */

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

/* For Firefox */
body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: none;
}
